<section>
    <div class="container">
        <div class="row" style="padding-top: 26px">
        <div class="col-lg-4 col-lg-offset-2"><ckeditor [config]="{ toolbar: [ { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] }, { name: 'editing', items: [ 'Scayt' ] }, { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] }, { name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] }, { name: 'tools', items: [ 'Maximize' ] }, { name: 'document', items: [ 'Source' ] }, '/', { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] }, { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] }, { name: 'styles', items: [ 'Styles', 'Format' ] }, { name: 'about', items: [ 'About' ] } ]}"></ckeditor>
        </div>
        </div>

    </div>
</section>
