<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <span style="font-size:30px;cursor:pointer;float:left; margin-left:20px; margin-top: 5px" onclick="openNav()">&#9776;</span>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" [routerLink]="['/']">GEPPETTO</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a [routerLink]="['/home']">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">TestGrid_Default_Activity<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['Seng']">S-eng</a></li>

        </ul>
      </li>

    </ul>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div id="MainMenu">
          <div class="list-group panel">
            <a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Item 1</a>
            <a href="#" class="list-group-item list-group-item-success" data-parent="#MainMenu">Item 2</a>
            <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 3 <i class="fa fa-caret-down"></i></a>
            <div class="collapse" id="demo3">
              <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i class="fa fa-caret-down"></i></a>
              <div class="collapse list-group-submenu" id="SubMenu1">
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>
                <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c <i class="fa fa-caret-down"></i></a>
                <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                  <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>
                  <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>
                </div>
                <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>
              </div>
              <a href="javascript:;" class="list-group-item">Subitem 2</a>
              <a href="javascript:;" class="list-group-item">Subitem 3</a>
            </div>
            <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Item 4  <i class="fa fa-caret-down"></i></a>
            <div class="collapse" id="demo4">
              <a href="" class="list-group-item">Subitem 1</a>
              <a href="" class="list-group-item">Subitem 2</a>
              <a href="" class="list-group-item">Subitem 3</a>
            </div>
          </div>
        </div>
</div>