<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">        
          <h1>GEPPETTO SOFTWARE</h1>
          <span>This is an HTML template developed by GEPPETTO</span>        
      </div>
    </div>
  </div>
</header>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Content Title</h2>
				<hr>
			</div>

		</div>
		<div class="row">
			<div class="col-lg-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione quo alias fugit maiores enim odio amet, harum provident necessitatibus, error eveniet iste non voluptatibus dolore rem voluptates deleniti quos?</p>
				<a href="#"><h4>more</h4></a>
			</div>
			<div class="col-lg-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione quo alias fugit maiores enim odio amet, harum provident necessitatibus, error eveniet iste non voluptatibus dolore rem voluptates deleniti quos?</p>
				<button class="btn btn-default">Read More</button>
			</div>
		</div>
	</div>
</section>

